.popup__button {
  padding: 13.6px 124px 18.5px 125px;
  font-size: 18px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  max-width: 358px;
  margin: 0 36px 36.5px 36px;
  cursor: pointer;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 500px) {
  .popup__button {
    /* Reset the desktop padding that was making it too bulky */
    padding: 14px 0;

    /* Ensure it stays centered and properly sized */
    width: calc(100% - 44px); /* Matches the input width */
    margin: 0 22px 25px;

    font-size: 14px;
    line-height: 17px;
  }
}
