.profile__info {
  margin-left: 30px; /* Space between avatar and text */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 620px) {
  .profile__info {
    margin-left: 0;
    margin-bottom: 36px;
    align-items: center;
  }
}
