.popup__title {
  margin: 34px 64px 54px 36px;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
}

@media screen and (max-width: 500px) {
  .popup__title {
    font-size: 18px;
    margin: 25px 22px 75px;
  }
}
