.popup__caption {
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 500px) {
  /* Specific fix for image popup caption on small screens */
  .popup__caption {
    font-size: 12px;
    margin-top: 10px;
  }
}
