.popup__container {
  background-color: #fff;
  border-radius: 10px;

  max-width: 430px;
  width: 100%;
  position: relative; /* Anchor for the X button */
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .popup__container {
    max-width: calc(100% - 38px);
  }
}
