.profile {
  display: flex;

  align-items: center; /* Vertically centers everything in the row */
  padding: 0;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
