.popup__close {
  position: absolute;
  top: -40px; /* Moves it outside the box */
  right: -40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 60%;
}

@media screen and (max-width: 500px) {
  .popup__close {
    width: 26px;
    height: 26px;
    top: -36px;
    right: 0; /* Moves 'X' to stay within screen bounds */
  }
}
