/* page */
@import url(../blocks/page/page.css);
/* page__content */
@import url(../blocks/page/__content/page__content.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* profile section */

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__header/profile__header.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__description/profile__description.css);

/* places section */
@import url(../blocks/places/places.css);
@import url(../blocks/places/__list/places__list.css);
@import url(../blocks/places/__item/places__item.css);
/* card */
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_is-active/card__like-button_is-active.css);

/* popup section */
@import url(../blocks/popup/popup.css);
