.header {
  max-width: 882px;
  border-bottom: 1px solid #545454;
  margin-bottom: 40px;
}

@media screen and (max-width: 620px) {
  .header {
    max-width: calc(100% - 54px);
    margin: 0 auto 42px;
  }
}
